{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <title>DOLMAR II - Zieliński Roman</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!--
<div id="alertalert" class="alert">
	<h1 class="first-line">DOLMAR II</br>ROMAN ZIELIŃSKI</h1>
	<h3>wita na <span style="color: red;">NOWEJ</span> stronie internetowej!</h3>
	<h5 style="margin-top: 4vh;">Serdecznie zapraszamy do zapoznania się z treścią.</h5>
	<h5 style="" id="mobile-version">Jednocześnie zapraszamy także do korzystania z wersji mobilnej naszej witryny.</h5>
	<div role="button" class="understand">OK</div>
</div>-->

	<div id="alertalert" class="alert">
		<h1 class="first-line">DOLMAR II</br>ROMAN ZIELIŃSKI</h1>
		<h3>wita na <span style="color: red;">NOWEJ</span> stronie internetowej!</h3>
		<h5 style="margin-top: 4vh; font-size: 4vw; color: red;">STRONA W BUDOWIE</h5>
		<div role="button" class="understand" style="margin-top: 10vw;">OK</div>
	</div>


	<div class="dropdown">
		<div class="menu-left">
			<button onclick="myFunction()" id="navbar2" class="dropbtn"></button>
		</div>
		<div class="menu-logo-mobile">
			<img src="/static/images/logo_PNG_white.png">
		</div>
		<div id="myDropdown" class="dropdown-content">
			<a href="#main_height"><img src="/static/images/back_to_top.png"></a>
			<a class="card" href="https://ekartoteki.dolmar-ii.pl/" target="_blank"><div class="link">E-KARTOTEKI</div></a>
			<a href="#go_to_company">O&nbsp;FIRMIE</a>
			<a href="#go_to_offer">OFERTA</a>
			<a href="#go_to_associations">WSPÓLNOTY</a>
			<a class="space" href="#go_to_manager">ZARZĄDCA</a>
			<a class="space" href="#go_to_contact">KONTAKT</a>
		</div>
	</div>


	<div class="dropdown2">
		<button id="navbar22" class="dropbtn2"></button>
		<div class="dropdown-content2">
			<a class="blank"></a>
			<a href="#main_height"><img src="/static/images/back_to_top.png"></a>
			<a href="#go_to_company">O&nbsp;FIRMIE</a>
			<a href="#go_to_offer">OFERTA</a>
			<a href="#go_to_associations">WSPÓLNOTY</a>
			<a class="space" href="#go_to_manager">ZARZĄDCA</a>
			<a class="space" href="#go_to_contact">KONTAKT</a>
			<a class="card" href="https://ekartoteki.dolmar-ii.pl/" target="_blank"><div class="link">E-KARTOTEKI</div></a>
		</div>
	</div>

	<main id="main_height">
		<div class="menu">
			<div class="menu-logo">
				<img src="/static/images/logo_PNG_white.png">
			</div>
			<div class="menu-list">
				<a class="space" href="#go_to_company">O&nbsp;FIRMIE</a><a class="space" href="#go_to_offer">OFERTA</a><a class="space" href="#go_to_associations">WSPÓLNOTY</a><a class="space" href="#go_to_manager">ZARZĄDCA</a><a class="space" href="#go_to_contact">KONTAKT</a><a class="card" href="https://ekartoteki.dolmar-ii.pl/" target="_blank"><div class="link">E-KARTOTEKI</div></a>
			</div>
		</div>

		<div class="main_text">
			<div class="vertical-center">
				<div class="first_line" >ZARZĄDZANIE NIERUCHOMOŚCIAMI</div>
				<div class="second_line">TO NASZA SPECJALNOŚĆ</div>
			</div>
		</div>
	</main>

	<div class="company" id="go_to_company">
		<div class="company_title">O FIRMIE</div>
		<div class="company_information">
			<span class="marked">DOLMAR II Roman Zieliński</span> - Biuro Zarządzania Nieruchomościami w Toruniu
                zajmuje się administrowaniem budynkami, które powstały na skutek ustawy o własności lokali z 1994r.
		</div>
		<div class="company_information">
			Firma DOLMAR II to ponad <span class="marked">{{company_years}} lat doświadczeń</span>, biura w Toruniu i Bydgoszczy, wykwalifikowani
			pracownicy i obecnie {{associations_quantity}} {{associations_text}}, którymi zarządzamy.
		</div>
		<div class="company_information">
			Oferujemy Państwu <span class="marked">usługi</span> w zakresie profesjonalnego zarządzania nieruchomościami.</br>
			W ramach naszych zadań zajmujemy się między innymi:
			<ul>
				<li>obsługą rachunkową</li>
				<li>prowadzeniem remontów</li>
				<li>doradztwem finansowym</li>
				<li>obsługą techniczną budynków.</li>
			</ul>
			Więcej informacji znaleźć można w zakładce <a style="text-decoration: none;" href="#go_to_offer" class="marked">OFERTA</a>.
		</div>
	</div>

	<div class="offer" id="go_to_offer">
		<div class="offer_title">OFERTA</div>
		<div class="offer_menu">
			<div class="offer_menu_line">
				<button class="offer_menu_element active" data-cat="obsluga">
					<img src="/static/images/obsluga_rachunkowa_1.png">
					<img src="/static/images/obsluga_rachunkowa_2.png" class="img_hover">
					<p>PEŁNA OBSŁUGA</br>RACHUNKOWA</p>
				</button>
				<button class="offer_menu_element" data-cat="rachunkowosc">
					<img src="/static/images/doradztwo_finansowe_1.png">
					<img src="/static/images/doradztwo_finansowe_2.png" class="img_hover">
					<p class="">DORADZTWO</br>FINANSOWE</p>
				</button>				
				<button class="offer_menu_element" data-cat="doradztwo">
					<img src="/static/images/obsluga_i_doradztwo_tech_1.svg">
					<img src="/static/images/obsluga_i_doradztwo_tech_2.png" class="img_hover">
					<p class="">OBSŁUGA I DORADZTWO</br>TECHNICZNE</p>
				</button>
				<button class="offer_menu_element" data-cat="remonty">
					<img src="/static/images/remonty_1.png">
					<img src="/static/images/remonty_2.png" class="img_hover">
					<p>PROWADZENIE</br>REMONTÓW</p>
				</button>
			</div>
			<div class="offer_menu_line">
				<button class="offer_menu_element" data-cat="interesy">
					<img src="/static/images/interesy_wspolnoty_1.svg">
					<img src="/static/images/interesy_wspolnoty_2.svg" class="img_hover">
					<p>REPREZENTACJA</br>INTERESÓW WSPÓLNOTY</p>
				</button>
				<button class="offer_menu_element" data-cat="przejrzystosc">
					<img src="/static/images/przejrzystosc_dzialan_1.png">
					<img src="/static/images/przejrzystosc_dzialan_2.png" class="img_hover">
					<p>PRZEJRZYSTOŚĆ</br>I JAWNOŚĆ DZIAŁAŃ</p>
				</button>
				<button class="offer_menu_element" data-cat="kontrola">
					<img src="/static/images/kontrola_1.png">
					<img src="/static/images/kontrola_2.png" class="img_hover">
					<p>KONTROLA WŁAŚCICIELI</br>NAD GOSPODARKĄ</br>WSPÓLNOTY</p>
				</button>
				<button class="offer_menu_element" data-cat="oferta">
					<img src="/static/images/oferta_1.png">
					<img src="/static/images/oferta_2.png" class="img_hover">
					<p>MOJA OFERTA<p>
				</button>
			</div>
		</div>

		<div class="offer_description">
			<div class="offer_details" data-cat="rachunkowosc">
				<p>Prowadzenie rachunków bankowych wspólnoty i dokonywanie rozliczeń przez ten rachunek.</p>
				<p>Prowadzenie rozliczeń z dostawcami mediów.</p>
				<p>Prowadzenie ewidencji pozaksięgowej kosztów zarządzania nieruchomością wspólną przy pomocy specjalistycznego, licencjonowanego oprogramowania komputerowego.</p>
				<p>Ściąganie zaległości od właścicieli zalegających z płatnościami.</p>
				<p>Reprezentowanie Wspólnoty Mieszkaniowej przed sądami, w sprawie zaległości właścicieli.</p>
			</div>
			<div class="offer_details" data-cat="doradztwo">
				<p>Prowadzenie korespondencji związanej ze sprawami dotyczącymi nieruchomości.</p>
				<p>Prowadzenie negocjacji z firmami wykonującymi usługi dla Wspólnoty Mieszkaniowej.</p>
				<p>Wybór niedrogich firm budowlanych wykonujących usługi na wysokim poziomie.</p>
			</div>
			<div class="offer_details active" data-cat="obsluga">
				<p>Nadzór nad prowadzeniem bieżącej konserwacji obiektu.</p>
				<p>Wybór wykonawców o bardzo dobrej opinii i wysokiej jakości wykonania usługi oraz przeprowadzanie negocjacji z nimi.</p>
				<p>Wykonanie, analiza i zatwierdzanie kosztorysów.</p>
				<p>Prowadzenie dokumentacji technicznej nieruchomości, w tym książki obiektu budowlanego zgodnie z wymogami prawa budowlanego.</p>
				<p>Przeprowadzanie kontroli technicznych, okresowych i pięcioletnich wymaganych ustawą przeglądów w ramach umowy o administrowanie.</p>
				<p>Bieżąca kontrola napraw i konserwacji budynku oraz nad usuwaniem awarii ich skutków.</p>
			</div>
			<div class="offer_details" data-cat="remonty">
				<p>Nadzór nad prowadzeniem bieżącej konserwacji obiektu.</p>
				<p>Wybór wykonawców o bardzo dobrej opinii i wysokiej jakości wykonania usługi oraz przeprowadzanie negocjacji z nimi.</p>
				<p>Wykonanie, analiza i zatwierdzanie kosztorysów.</p>
				<p>Prowadzenie dokumentacji technicznej nieruchomości, w tym książki obiektu budowlanego zgodnie z wymogami prawa budowlanego.</p>
				<p>Przeprowadzanie kontroli technicznych, okresowych i pięcioletnich wymaganych ustawą przeglądów w ramach umowy o administrowanie.</p>
				<p>Bieżąca kontrola napraw i konserwacji budynku oraz nad usuwaniem awarii ich skutków.</p>
			</div>
			<div class="offer_details" data-cat="interesy">
				<p>Dbanie o utrzymanie porządku i czystości w budynku oraz w jego obrębie (częste kontrole i spotkania z zainteresowanymi nieruchomością).</p>
				<p>Częste spotkania z Zarządami Wspólnot Mieszkaniowych.</p>
				<p>Omawianie sytuacji finansowej Wspólnoty Mieszkaniowej z Zarządem.</p>
				<p>Omawianie potrzeb, tj. remontów i kosmetyki zewnętrznej budynku z Zarządem Wspólnoty Mieszkaniowej.</p>
			</div>
			<div class="offer_details" data-cat="przejrzystosc">
				<p>Zapewnienie dostaw usług komunalnych - negocjacje przy podpisywaniu nowej umowy z dostawcami usług, media.</p>
				<p>Zawieranie umów ubezpieczenia budynku - pełen zakres ubezpieczenia.</p>
				<p>Wyszukiwanie firm świadczących usługi na rzecz nieruchomości, oraz negocjacje cen i warunków umów.</p>
				<p>Przygotowanie planów remontów oraz pełen nadzór nad firmami budowlanymi.</p>
			</div>
			<div class="offer_details" data-cat="kontrola">
				<p>Przygotowywanie projektu planu gospodarczego.</p>
				<p>Dostęp do dokumentów Wspólnoty Mieszkaniowej.</p>
				<p>Szybkie wykonywanie wniosków zaleconych przez Zarząd Wspólnoty Mieszkaniowej po dokonaniu kontroli.</p>
				<p>Sporządzanie rocznych sprawozdań finansowych wspólnoty.</p>
			</div>
			<div class="offer_details" data-cat="oferta">
				<p>Wykonywanie usługi administrowania proponuję w wysokości 450zł miesięcznie za budynek o powierzchni użytkowej do 850m<sup>2</sup>.</p>
				<p>Wykonanie usługi administrowania budynku powyżej 850m<sup>2</sup> proponuję wynagrodzenie w wysokości 0,50zł/m<sup>2</sup> miesięcznie.</p>
				<p>Ceny za administrowanie budynkami są zawsze do negocjacji przed podpisaniem umowy ze Wspólnotą Mieszkaniową.</p>
			</div>
		</div>
	</div>


	<div class="associations" id="go_to_associations">
		fdghgh
	</div>


	<div class="manager" id="go_to_manager">
		manager
	</div>

	<div class="contact" id="go_to_contact">
		contact
	</div>


<script type="text/javascript" src="{% static '/js/dropdown_menu.js' %}"></script>
<script type="text/javascript" src="{% static '/js/appereance_menu.js' %}"></script>
<script type="text/javascript" src="{% static '/js/alert_show2.js' %}"></script>
<script type="text/javascript" src="{% static '/js/time_for_alert_show.js' %}"></script>
<script type="text/javascript" src="{% static '/js/offer.js' %}"></script>

</body>
</html>
